@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf) format('truetype');
}