@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  /* For Firefox */
  @-moz-document url-prefix() {
    * {
      scrollbar-width: auto;
      scrollbar-color: #000000 transparent;
    }
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  *::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.2);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #000000;
  }
}