@font-face {
  font-family: 'Titillium Web';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-ExtraLightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/titillium-web/TitilliumWeb-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local('Rubik'), url(/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Major Mono Display';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Rubik'), url(/fonts/major-mono-display/MajorMonoDisplay-Regular.ttf) format('truetype');
}
