name: Nightly builds

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
jobs:
  nightly-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
            go-version-file: 'go.mod'

      - name: Set up Gon
        run: brew tap mitchellh/gon && brew install mitchellh/gon/gon

      - name: Import Apple Code Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.APPLE_CERTIFICATE_BASE64 }}
          p12-password: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          distribution: goreleaser
          args: release --snapshot --skip=publish

      - name: Update Nightly Release
        uses: andelf/nightly-release@46e2d5f80828ecc5c2c3c819eb31186a7cf2156c
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
          AC_USERNAME: ${{ secrets.AC_USERNAME }}
          AC_APPLICATION_IDENTITY: ${{ secrets.APPLICATION_IDENTITY }}
        with:
          tag_name: next
          name: 'Nightly Builds Download for KitOps CLI (kit)'
          prerelease: true
          body: |
            Welcome to the cutting edge! Our nightly builds offer the most recent developments
            in kit CLI, providing early access to new features, enhancements, and
            fixes that are on their way to the next stable release'
          files: |
            ./dist/*.txt
            ./dist/*.zip
            ./dist/*.tar.gz
