name: Validate PRs

on:
  pull_request:
    branches: [ main ]

jobs:
  go:
    name: Check sources
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'

      - name: Check go.mod
        shell: bash
        run: |
          go mod tidy
          if ! git diff --quiet; then
            echo "Go modules need tidying (go mod tidy)"
            exit 1
          fi

      - name: Check format
        shell: bash
        run: |
          go fmt ./...
          if ! git diff --quiet; then
            echo "Files are not formatted (go fmt ./...)"
            exit 1
          fi

      - name: Check license headers
        shell: bash
        run: |
          go install github.com/google/addlicense@latest
          if ! addlicense --check -s -l apache -c "The KitOps Authors." $(find . -name '*.go'); then
            echo "License headers missing from Go files (see above)."
            echo "Install addlicense via 'go install github.com/google/addlicense@latest'"
            echo "And run 'addlicense -s -l apache -c \"The KitOps Authors.\" \$(find . -name '*.go')'"
            exit 1
          fi

      - name: Install Node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version-file: './frontend/dev-mode/.nvmrc'

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 8.0.0

      - name: Generate embeds
        run: |
          go generate ./...

      - name: Check build
        shell: bash
        run: |
          if ! go build -o kit; then
            echo "Project does not build"
            exit 1
          fi

      - name: Run tests
        shell: bash
        run: |
          if ! go test ./... -v; then
            echo "Project tests failed"
            exit 1
          fi

      - name: Test Vitepress includes
        shell: bash
        run: |
          grep -rnw '@include' --exclude-dir docs/node_modules docs | while read -r line; do
            file="${line%%:*}"
            include="${line##*@include: }"
            include="${include%%-->}"
            expected="$(dirname "$file")/$include"
            if [ ! -f "$expected" ]; then
              echo "Broken include in $file: path $expected does exist"
              exit 1
            fi
          done

      - name: Check for trailing whitespace
        shell: bash
        run: |
          files=$(grep -E -lI --exclude '*.svg' --exclude 'docs/*' --exclude 'frontend/*' " +$" $(git ls-files) || true)
          if [ ! -z $files ]; then
            echo "Trailing whitespace in files:"
            echo "$files"
            exit 1
          fi

      - name: Upload build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: pr-artifacts-${{ matrix.os }}
          retention-days: 3
          path: |
            ./kit*